<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.co.company.aunae">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
            android:name="android.hardware.camera.ar"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/logo_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <meta-data
                android:name="com.google.ar.core"
                android:value="required"/>

        <activity
                android:name="kr.co.company.aunae.MainActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name="kr.co.company.aunae.HomeActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="kr.co.company.aunae.MainActivity"/>
        </activity>
        <activity
                android:name="kr.co.company.aunae.PlaceActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="kr.co.company.aunae.HomeActivity"/>
        </activity>
        <activity
                android:name="kr.co.company.aunae.FeatureActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="kr.co.company.aunae.PlaceActivity"/>
        </activity>
        <activity
                android:name="kr.co.company.aunae.ARHomeActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="kr.co.company.aunae.MainActivity"/>
        </activity>
        <activity
                android:name="kr.co.company.aunae.ARPlayActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="kr.co.company.aunae.ARHomeActivity"/>
        </activity>
        <activity android:name="kr.co.company.aunae.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="kr.co.company.aunae.MapActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="kr.co.company.aunae.HomeActivity"/>
        </activity>
    </application>

</manifest>